<h1>In this page you will learn more about Roger Federer's life</h1>
<p>Roger Federer (born 8 August 1981) is a Swiss professional tennis player.
    <br>

    He has won 20 Grand Slam men's singles titles,
    an all-time record shared with Rafael Nadal and Novak Djokovic.
    Federer has been world No. 1 in the ATP rankings a
    total of 310 weeks – including a record 237 consecutive weeks – and has finished as the year-end No. 1 five times.
    Federer has won 103 ATP singles titles, the second most of all-time behind Jimmy Connors, including a record six ATP
    Finals.
    <br>

    Federer has played in an era where he dominated men's tennis together with Rafael Nadal and Novak Djokovic, who have
    been collectively referred to as the Big Three and are considered by some to be the three greatest tennis players of
    all time.
</p>
<br><br><br>
<table class="infobox vcard" style="width:23em">
    <caption class="infobox-title fn">Roger Federer</caption>
    <tbody>
        <tr>
            <td colspan="2" class="infobox-image"><a href="/wiki/File:Roger_Federer_(26_June_2009,_Wimbledon)_2_new.jpg"
                    class="image"><img alt="Roger Federer (26 June 2009, Wimbledon) 2 new.jpg"
                        src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg/220px-Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg"
                        decoding="async" width="220" height="451"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg/330px-Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg/440px-Roger_Federer_%2826_June_2009%2C_Wimbledon%29_2_new.jpg 2x"
                        data-file-width="1316" data-file-height="2695"></a>
                <div class="infobox-caption">Federer serving at <a href="/wiki/2009_Wimbledon" class="mw-redirect"
                        title="2009 Wimbledon">2009 Wimbledon</a></div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Country&nbsp;(sports)</th>
            <td class="infobox-data"><span class="flagicon"><img alt=""
                        src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Switzerland.svg/16px-Flag_of_Switzerland.svg.png"
                        decoding="async" width="16" height="16" class="thumbborder"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Switzerland.svg/24px-Flag_of_Switzerland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Switzerland.svg/32px-Flag_of_Switzerland.svg.png 2x"
                        data-file-width="512" data-file-height="512">&nbsp;&nbsp;</span><a href="/wiki/Switzerland"
                    title="Switzerland">Switzerland</a></td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Residence</th>
            <td class="infobox-data label"><a href="/wiki/Valbella" class="mw-redirect" title="Valbella">Valbella</a>,
                Switzerland</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Born</th>
            <td class="infobox-data"><span style="display:none"> (<span class="bday">1981-08-08</span>) </span>8 August
                1981<span class="noprint ForceAgeToShow"> (age&nbsp;40)</span><br><a href="/wiki/Basel"
                    title="Basel">Basel</a>, Switzerland</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Height</th>
            <td class="infobox-data">1.85&nbsp;m (6&nbsp;ft 1&nbsp;in)<sup id="cite_ref-atp_player_profile_1-0"
                    class="reference"><a href="#cite_note-atp_player_profile-1">[1]</a></sup></td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Turned&nbsp;pro</th>
            <td class="infobox-data">1998</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Plays</th>
            <td class="infobox-data">Right-handed (one-handed backhand)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Coach</th>
            <td class="infobox-data"><a href="/wiki/Ivan_Ljubi%C4%8Di%C4%87" title="Ivan Ljubičić">Ivan
                    Ljubičić</a><br><a href="/wiki/Severin_L%C3%BCthi" title="Severin Lüthi">Severin Lüthi</a></td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Prize money</th>
            <td class="infobox-data"><a href="/wiki/US$" class="mw-redirect" title="US$">US$</a>130,594,339<sup
                    id="cite_ref-career-prize-money-leaders_2-0" class="reference"><a
                        href="#cite_note-career-prize-money-leaders-2">[2]</a></sup>
                <ul>
                    <li><small>&nbsp;<a href="/wiki/Open_Era_tennis_records_%E2%80%93_men%27s_singles#Prize_money"
                                title="Open Era tennis records – men's singles">2nd all-time leader in
                                earnings</a></small></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Official&nbsp;website</th>
            <td class="infobox-data"><span class="url"><a rel="nofollow" class="external text"
                        href="http://rogerfederer.com">rogerfederer<wbr>.com</a></span></td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Singles</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Career&nbsp;record</th>
            <td class="infobox-data">1251–275 (82.0%)<sup id="cite_ref-wl_singles_3-0" class="reference"><a
                        href="#cite_note-wl_singles-3">[a]</a></sup></td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Career&nbsp;titles</th>
            <td class="infobox-data"><a href="/wiki/Roger_Federer_career_statistics"
                    title="Roger Federer career statistics">103</a> (<a
                    href="/wiki/Open_Era_tennis_records_%E2%80%93_men%27s_singles#All_tournaments"
                    title="Open Era tennis records – men's singles">2nd in the Open Era</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Highest&nbsp;ranking</th>
            <td class="infobox-data"><a href="/wiki/List_of_ATP_number_1_ranked_singles_tennis_players"
                    title="List of ATP number 1 ranked singles tennis players">No. <b>1</b></a> (2 February 2004)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Current&nbsp;ranking</th>
            <td class="infobox-data">No. 16 (8 November 2021)<sup id="cite_ref-4" class="reference"><a
                        href="#cite_note-4">[3]</a></sup></td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Grand Slam Singles results</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Australian_Open"
                    title="Australian Open">Australian&nbsp;Open</a></th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2004_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2004 Australian Open – Men's Singles">2004</a>, <a
                    href="/wiki/2006_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2006 Australian Open – Men's Singles">2006</a>, <a
                    href="/wiki/2007_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2007 Australian Open – Men's Singles">2007</a>, <a
                    href="/wiki/2010_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2010 Australian Open – Men's Singles">2010</a>, <a
                    href="/wiki/2017_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2017 Australian Open – Men's Singles">2017</a>, <a
                    href="/wiki/2018_Australian_Open_%E2%80%93_Men%27s_Singles"
                    title="2018 Australian Open – Men's Singles">2018</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/French_Open" title="French Open">French&nbsp;Open</a>
            </th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2009_French_Open_%E2%80%93_Men%27s_Singles"
                    title="2009 French Open – Men's Singles">2009</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/The_Championships,_Wimbledon"
                    title="The Championships, Wimbledon">Wimbledon</a></th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2003_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2003 Wimbledon Championships – Men's Singles">2003</a>, <a
                    href="/wiki/2004_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2004 Wimbledon Championships – Men's Singles">2004</a>, <a
                    href="/wiki/2005_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2005 Wimbledon Championships – Men's Singles">2005</a>, <a
                    href="/wiki/2006_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2006 Wimbledon Championships – Men's Singles">2006</a>, <a
                    href="/wiki/2007_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2007 Wimbledon Championships – Men's Singles">2007</a>, <a
                    href="/wiki/2009_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2009 Wimbledon Championships – Men's Singles">2009</a>, <a
                    href="/wiki/2012_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2012 Wimbledon Championships – Men's Singles">2012</a>, <a
                    href="/wiki/2017_Wimbledon_Championships_%E2%80%93_Men%27s_Singles"
                    title="2017 Wimbledon Championships – Men's Singles">2017</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/US_Open_(tennis)" title="US Open (tennis)">US Open</a>
            </th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2004_US_Open_%E2%80%93_Men%27s_Singles"
                    title="2004 US Open – Men's Singles">2004</a>, <a
                    href="/wiki/2005_US_Open_%E2%80%93_Men%27s_Singles" title="2005 US Open – Men's Singles">2005</a>,
                <a href="/wiki/2006_US_Open_%E2%80%93_Men%27s_Singles" title="2006 US Open – Men's Singles">2006</a>, <a
                    href="/wiki/2007_US_Open_%E2%80%93_Men%27s_Singles" title="2007 US Open – Men's Singles">2007</a>,
                <a href="/wiki/2008_US_Open_%E2%80%93_Men%27s_Singles" title="2008 US Open – Men's Singles">2008</a>)
            </td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Other tournaments</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/ATP_World_Tour_Finals" class="mw-redirect"
                    title="ATP World Tour Finals">Tour&nbsp;Finals</a></th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2003_Tennis_Masters_Cup_%E2%80%93_Singles"
                    title="2003 Tennis Masters Cup – Singles">2003</a>, <a
                    href="/wiki/2004_Tennis_Masters_Cup_%E2%80%93_Singles"
                    title="2004 Tennis Masters Cup – Singles">2004</a>, <a
                    href="/wiki/2006_Tennis_Masters_Cup_%E2%80%93_Singles"
                    title="2006 Tennis Masters Cup – Singles">2006</a>, <a
                    href="/wiki/2007_Tennis_Masters_Cup_%E2%80%93_Singles"
                    title="2007 Tennis Masters Cup – Singles">2007</a>, <a
                    href="/wiki/2010_ATP_World_Tour_Finals_%E2%80%93_Singles"
                    title="2010 ATP World Tour Finals – Singles">2010</a>, <a
                    href="/wiki/2011_ATP_World_Tour_Finals_%E2%80%93_Singles"
                    title="2011 ATP World Tour Finals – Singles">2011</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Tennis_at_the_Summer_Olympics"
                    title="Tennis at the Summer Olympics">Olympic&nbsp;Games</a></th>
            <td class="infobox-data"><a href="/wiki/File:Silver_medal_olympic.svg" class="image"><img
                        alt="Silver medal olympic.svg"
                        src="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/15px-Silver_medal_olympic.svg.png"
                        decoding="async" width="15" height="15"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/23px-Silver_medal_olympic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/67/Silver_medal_olympic.svg/30px-Silver_medal_olympic.svg.png 2x"
                        data-file-width="300" data-file-height="300"></a> (<a
                    href="/wiki/Tennis_at_the_2012_Summer_Olympics_%E2%80%93_Men%27s_singles"
                    title="Tennis at the 2012 Summer Olympics – Men's singles">2012</a>)</td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Doubles</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Career&nbsp;record</th>
            <td class="infobox-data">131–92 (58.7%)<sup id="cite_ref-wl_doubles_5-0" class="reference"><a
                        href="#cite_note-wl_doubles-5">[b]</a></sup></td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Career&nbsp;titles</th>
            <td class="infobox-data">8</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label">Highest&nbsp;ranking</th>
            <td class="infobox-data">No. 24 (9 June 2003)</td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Grand Slam Doubles results</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Australian_Open"
                    title="Australian Open">Australian&nbsp;Open</a></th>
            <td class="infobox-data">3R (<a href="/wiki/2003_Australian_Open_%E2%80%93_Men%27s_Doubles"
                    title="2003 Australian Open – Men's Doubles">2003</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/French_Open" title="French Open">French&nbsp;Open</a>
            </th>
            <td class="infobox-data">1R (<a href="/wiki/2000_French_Open_%E2%80%93_Men%27s_Doubles"
                    title="2000 French Open – Men's Doubles">2000</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/The_Championships,_Wimbledon"
                    title="The Championships, Wimbledon">Wimbledon</a></th>
            <td class="infobox-data">QF (<a href="/wiki/2000_Wimbledon_Championships_%E2%80%93_Men%27s_Doubles"
                    title="2000 Wimbledon Championships – Men's Doubles">2000</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/US_Open_(tennis)" title="US Open (tennis)">US Open</a>
            </th>
            <td class="infobox-data">3R (<a href="/wiki/2002_US_Open_%E2%80%93_Men%27s_Doubles"
                    title="2002 US Open – Men's Doubles">2002</a>)</td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Other doubles tournaments</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Tennis_at_the_Summer_Olympics"
                    title="Tennis at the Summer Olympics">Olympic&nbsp;Games</a></th>
            <td class="infobox-data"><a href="/wiki/File:Gold_medal_olympic.svg" class="image"><img
                        alt="Gold medal olympic.svg"
                        src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/15px-Gold_medal_olympic.svg.png"
                        decoding="async" width="15" height="15"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/23px-Gold_medal_olympic.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Gold_medal_olympic.svg/30px-Gold_medal_olympic.svg.png 2x"
                        data-file-width="300" data-file-height="300"></a> (<a
                    href="/wiki/Tennis_at_the_2008_Summer_Olympics_%E2%80%93_Men%27s_doubles"
                    title="Tennis at the 2008 Summer Olympics – Men's doubles">2008</a>)</td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">Team competitions</th>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Davis_Cup" title="Davis Cup">Davis Cup</a></th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2014_Davis_Cup_World_Group"
                    title="2014 Davis Cup World Group">2014</a>)</td>
        </tr>
        <tr>
            <th scope="row" class="infobox-label"><a href="/wiki/Hopman_Cup" title="Hopman Cup">Hopman Cup</a></th>
            <td class="infobox-data"><b>W</b> (<a href="/wiki/2001_Hopman_Cup" title="2001 Hopman Cup">2001</a>, <a
                    href="/wiki/2018_Hopman_Cup" title="2018 Hopman Cup">2018</a>, <a href="/wiki/2019_Hopman_Cup"
                    title="2019 Hopman Cup">2019</a>)</td>
        </tr>
        <tr>
            <td colspan="2" class="infobox-full-data">
                <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1048617464">
            </td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header">Signature</th>
        </tr>
        <tr>
            <td colspan="2" class="infobox-full-data"><a href="/wiki/File:Roger_Federer_Signature_2013.svg"
                    class="image"><img alt="Roger Federer Signature 2013.svg"
                        src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Roger_Federer_Signature_2013.svg/150px-Roger_Federer_Signature_2013.svg.png"
                        decoding="async" width="150" height="95"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Roger_Federer_Signature_2013.svg/225px-Roger_Federer_Signature_2013.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Roger_Federer_Signature_2013.svg/300px-Roger_Federer_Signature_2013.svg.png 2x"
                        data-file-width="304" data-file-height="193"></a></td>
        </tr>
        <tr style="display:none">
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <th colspan="2" class="infobox-header" style="background-color:lavender;">
                <div class="mw-collapsible mw-made-collapsible" style="text-align:center; font-size:95%"><span
                        class="mw-collapsible-toggle mw-collapsible-toggle-default" role="button" tabindex="0"
                        aria-expanded="true"><a class="mw-collapsible-text">hide</a></span>
                    <div
                        style="line-height:1.6em; font-weight:bold; background-color:#ccf; font-size:105%; background-color:transparent;">
                        <div style="margin:0 4em;">Olympic medal record</div>
                    </div>
                    <div class="mw-collapsible-content" style="font-size:105%;">
                        <table style="width:100%; background-color:#f9f9f9; color:#000000; font-weight:normal;">
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;vertical-align:middle;"><img
                                            alt="Gold medal – first place"
                                            src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Gold_medal_icon_%28G_initial%29.svg/16px-Gold_medal_icon_%28G_initial%29.svg.png"
                                            decoding="async" title="Gold medal – first place" width="16" height="16"
                                            srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Gold_medal_icon_%28G_initial%29.svg/24px-Gold_medal_icon_%28G_initial%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Gold_medal_icon_%28G_initial%29.svg/32px-Gold_medal_icon_%28G_initial%29.svg.png 2x"
                                            data-file-width="16" data-file-height="16"></td>
                                    <td style="text-align:center;vertical-align:middle;"><span class="nowrap"><a
                                                href="/wiki/2008_Summer_Olympics" title="2008 Summer Olympics">2008
                                                Beijing</a></span></td>
                                    <td style="text-align:center;vertical-align:middle;"><a
                                            href="/wiki/Tennis_at_the_2008_Summer_Olympics_%E2%80%93_Men%27s_doubles"
                                            title="Tennis at the 2008 Summer Olympics – Men's doubles">Doubles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;vertical-align:middle;"><img
                                            alt="Silver medal – second place"
                                            src="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Silver_medal_icon_%28S_initial%29.svg/16px-Silver_medal_icon_%28S_initial%29.svg.png"
                                            decoding="async" title="Silver medal – second place" width="16" height="16"
                                            srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Silver_medal_icon_%28S_initial%29.svg/24px-Silver_medal_icon_%28S_initial%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/91/Silver_medal_icon_%28S_initial%29.svg/32px-Silver_medal_icon_%28S_initial%29.svg.png 2x"
                                            data-file-width="16" data-file-height="16"></td>
                                    <td style="text-align:center;vertical-align:middle;"><span class="nowrap"><a
                                                href="/wiki/2012_Summer_Olympics" title="2012 Summer Olympics">2012
                                                London</a></span></td>
                                    <td style="text-align:center;vertical-align:middle;"><a
                                            href="/wiki/Tennis_at_the_2012_Summer_Olympics_%E2%80%93_Men%27s_singles"
                                            title="Tennis at the 2012 Summer Olympics – Men's singles">Singles</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <td colspan="2" class="infobox-below" style="font-weight: lighter; color: #555">Last updated on: 8 November
                2021.</td>
        </tr>
    </tbody>
</table>