<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- {{#if css}} --}}
    {{!-- {{#each css}} --}}
    {{!-- link rel="stylesheet" href="/css/{{this}}" /> --}}
    {{!-- {{/each}} --}}
    <link rel="stylesheet" href="./public/css/style.css">

    {{!--
    {{#each script}}
    <script src="/js/{{this}}"></script>
    {{/each}}
    --}}
    {{!-- {{/if}} --}}
    <title>All about Roger!</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Career</a>
        <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <div class="main">
        {{{body}}}
    </div>


</body>

</html>