<h1>In this page you will learn more about Roger Federer's professional achievements</h1>




<hr>


<table class="infobox vcard vevent" style="width:40%;">

    <tbody>
        <tr style="background:#ffc;">
            <th colspan="6">
                <center>Career finals</center>
            </th>
        </tr>
        <tr>
            <th>Discipline</th>
            <th>Type</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Total</th>
            <th>WR <sup>1</sup>
            </th>
        </tr>
        <tr>
            <td rowspan="7">Singles</td>
            <td>Grand Slam tournaments</td>
            <td align="center">20</td>
            <td align="center">11</td>
            <td style="background:#ccf;">31</td>
            <td>0.65
            </td>
        </tr>
        <tr>
            <td>Olympic Games</td>
            <td align="center">0</td>
            <td align="center">1</td>
            <td style="background:#ccf;">1</td>
            <td>0.00
            </td>
        </tr>
        <tr>
            <td>Year-end championships</td>
            <td align="center">6</td>
            <td align="center">4</td>
            <td style="background:#ccf;">10</td>
            <td>0.67 <sup>2</sup>
            </td>
        </tr>
        <tr>
            <td>ATP Masters 1000 <sup>3</sup></td>
            <td align="center">28</td>
            <td align="center">22</td>
            <td style="background:#ccf;">50</td>
            <td>0.56
            </td>
        </tr>
        <tr>
            <td>ATP Tour 500</td>
            <td align="center">24</td>
            <td align="center">7</td>
            <td style="background:#ccf;">31</td>
            <td>0.77
            </td>
        </tr>
        <tr>
            <td>ATP Tour 250</td>
            <td align="center">25</td>
            <td align="center">9</td>
            <td style="background:#ccf;">34</td>
            <td>0.74
            </td>
        </tr>
        <tr style="background:#98fb98;">
            <td>Total</td>
            <td align="center"><b>103</b></td>
            <td align="center"><b>54</b></td>
            <td align="center"><b>157</b></td>
            <td><b>0.66</b>
            </td>
        </tr>
        <tr>
            <td rowspan="7">Doubles</td>
            <td>Grand Slam tournaments</td>
            <td align="center">–</td>
            <td align="center">–</td>
            <td style="background:#ccf;">–</td>
            <td align="center">–
            </td>
        </tr>
        <tr>
            <td>Olympic Games</td>
            <td align="center">1</td>
            <td align="center">0</td>
            <td style="background:#ccf;">1</td>
            <td>1.00
            </td>
        </tr>
        <tr>
            <td>Year-end championships</td>
            <td align="center">–</td>
            <td align="center">–</td>
            <td style="background:#ccf;">–</td>
            <td align="center">–
            </td>
        </tr>
        <tr>
            <td>ATP Masters 1000 <sup>3</sup></td>
            <td align="center">1</td>
            <td align="center">2</td>
            <td style="background:#ccf;">3</td>
            <td>0.33
            </td>
        </tr>
        <tr>
            <td>ATP Tour 500</td>
            <td align="center">3</td>
            <td align="center">1</td>
            <td style="background:#ccf;">4</td>
            <td>0.75
            </td>
        </tr>
        <tr>
            <td>ATP Tour 250</td>
            <td align="center">3</td>
            <td align="center">3</td>
            <td style="background:#ccf;">6</td>
            <td>0.50
            </td>
        </tr>
        <tr style="background:#98fb98;">
            <td>Total</td>
            <td align="center"><b>8</b></td>
            <td align="center"><b>6</b></td>
            <td align="center"><b>14</b></td>
            <td><b>0.57</b>
            </td>
        </tr>
        <tr style="background:#fcc;">
            <td colspan="2">Total</td>
            <td align="center"><b>111</b></td>
            <td align="center"><b>60</b></td>
            <td align="center"><b>171</b></td>
            <td><b>0.65</b>
            </td>
        </tr>
        <tr>
            <td colspan="7"><sup>1)</sup> WR = Winning Rate<br><sup>2)</sup> Walkover in finals of ATP World Tour
                Finals 2014 not to be counted as loss in WR but appears in list of ATP finals
                <p><sup>3)</sup> Formerly known as "Super 9" (1996–1999), "Tennis Masters Series" (2000–2003) or
                    "ATP Masters Series" (2004–2008)
                </p>
            </td>
        </tr>
    </tbody>
</table>
</tbody>